<%- include('header') -%>
<header class="container-fluid">
  <div class="">
    <div class="row pt-5">
      <section class="col-lg-6 col-md-5 col-sm-6 px-5">
        <h1>Alpacas need love, too.</h1>
        <p>That's why we created 2Pacas: the dating app for your alpacas. We take care of your alapaca mating needs, and help you find the love of your alpaca's life!</p>
        <button>Download</button>
        <button>Download</button>
      </section>
      <section class="col-lg-6 col-md-7 col-sm-6 d-flex justify-content-center">
        <img src="images/iphoneMockup2Pacas.png" alt="An iPhone with a screen that shows alpacas on an app" height="700px">
      </section>
    </div>
  </div>
</header>


<section id="trusted" class="container">
  <h2>Trusted by thousands of alpaca people</h2>
  <br>
  <div class="row row-cols-5 g-4 m-5">
    <img class="trusted" id="dotcom" src="images/dotcom.png" alt="dotcom logo" height="50%">
    <img class="trusted" id="nintendo" src="images/Nintendo_logo_gray.png" alt="" height="50%">
    <img class="trusted" id="ecco" src="images/Ecco-logo-gray.png" alt="" height="50%">
    <img class="trusted" id="gitlab" src="images/gitlab-logo-gray-rgb.png" alt="" height="50%">
    <img class="trusted" id="hoka" src="images/hoka-Grayscale-6.png" alt="" height="50%">
  </div>
</section>

<section id="features" class="container">
  <h2>Features</h2>
  <h3>Easy to use.</h3>
  <p>This app is so easy to use, we've even trained some of our past alpaca clients to be able to use the app on their own, without their human!</p>

  <h3>Huge selection of alpaca singles.</h3>
  <p>While the app is new, our company has been around for decades, so we have the most up-to-date database of alpaca singles, and hundreds more being vetted everyday! Not that they need to be vetted; we've never met an alpaca we didn't like :wink-wink:</p>

  <h3>Love guaranteed.</h3>
  <p>We find your alpaca love, or your money back. Our alpacas have never had to go on dates with more than three alpaca singles to be able to find their one true alpaca love. We know yours will be lucky lucky!</p>
</section>
<section id="about">
  <h2>About</h2>
  <p>It was about 35 years ago that our family alpaca, Rotini, almost died of loneliness. We thought he'd caught some kind of rare alpaca disease, and he truly did: the disease of a broken heart.</p>
  <p>There was a lovely alpaca lady by the name of Gloria who'd been living next door to us the past 4 years. Rotini and Gloria were inseparable--they ate together, played together, and enjoyed long walks around the valley together.</p>
  <p>But one day, Gloria's humans decided to sell her in exchange for miniature ponies. That was the beginning of Rotini's demise. He stopped eating, he stopped drinking, he stopped playing. We introduced him to Connect, one of the ponies, but Rotini was completely uninterested.</p>
  <p>That's when we started asking around for available alpacas to give Rotini some companionship.We met a family with a whole boatload of alpacas, most of them male, but they had two ladies. One of them, Priscilla, was around Rotini's age, so we brought them to a nearby park to play.</p>
  <p>At first, Rotini was really shy, but about an hour into their date, he warmed up to Priscilla, and they played like they'd never played before!</p>
  <p>Our Rotini was back to his old self within a week! That's when we realized that we could help other lonely alpacas out there by providing a dating & mating service. We've been helping bring together lovely alpacas since then.</p>
  <p>And now, we're excited to bring the ease of mating your alpacas to the palm of your human (and alpaca) hand!</p>
</section>

<section id="testimonials">
  <h3>I met my bae, Taekwondo, through 2Pacas, and we've never been happier! You can tell by how long and soft our coat has been since we got together!</h3>
  <em>- Emilia &amp; Taekwondo</em>

  <h3>Sunny days always, never been better! We were born for each other!</h3>
  <em>- Suhail</em>

  <h3>We owe our happiness to 2Pacas. They were there every step of the way, giving us encouragement to never give up on love! We're so glad our humans found them, so that we could find each other 😻</h3>
  <em>Corrinne & Bōbee</em>
</section>
<section id="pricing">
  <h2>A Plan for Every Alpaca</h2>
  <p>Pricing is simple, straightforward, and affordable for all alpacas and their humans!</p>

  <h3>Moonstone</h3>
  <h2>FREE</h2>
  <p>5 Matches per Day</p>
  <p>5 Messages per Day</p>
  <p>Unlimited App Usage</p>
  <button class="btn btn-success" type="button">Sign Up</button>

  <h3>Opal</h3>
  <h2>$39.99</h2>
  <p>100 Matches per Day</p>
  <p>200 Messages per Day</p>
  <p>Unlimited App Usage</p>
  <button class="btn btn-success" type="button">Sign Up</button>

  <h3>Ruby</h3>
  <h2>$59.99</h2>
  <p>150 Matches per Day</p>
  <p>300 Messages per Day</p>
  <p>Unlimited App Usage</p>
  <button class="btn btn-success" type="button">Sign Up</button>

  <h3>Tanzanite</h3>
  <h2 class="s">$999.99</h2>
  <h2>$499.99</h2>
  <p>Unlimited Matches per Day</p>
  <p>Unlimited Messages per Day</p>
  <p>Unlimited App Usage</p>
  <p>2 Matchmaker Meetings/month</p>
  <button class="btn btn-success" type="button">Sign Up</button>

</section>

<%- include('footer') -%>