<%- include('header') -%>
<section id="signup" class="container-fluid">
  <h1 class="pb-4 text-center">Signup</h1>
  <header id="signup-header-box" class="p-5">
    <p>This website is not real. If you thought it was real, you were mistaken, and that is totally my bad. <span class="fw-bold">MY BAD YO</span>. This website was built merely to refresh my website making abilities after a hiatus due to burnout.</p>
    <p>During my hiatus I wanted to get as far away from custom coding as possible, though I still worked with clients needing websites that I could build using WordPress. It was low-code and so much less stressful.</p>
    <p>Now I'm back building custom full-stack solutions, as well as meandering off the beaten path into the Web3/crypto/blockchain wilderness.</p>
    <p>That's all I have.</p>
    <p><span class="fw-light fst-italic">If you do really need alpaca mating services, please don't hesitate to let me know. If I gather enough interest, I might just make an app for real!</span></p>
    <a href="/contact" id="reach-out-btn" class="btn btn-lg fw-light">Reach Out</a>
  </header>
</section>
<%- include('footer') -%> 