/*-------------- Global CSS --------------*/
header#hero {
  background-color: #6F4C5B;
  color: #F5E8C7;
  padding: 7% 12%;
  /* position: relative;
  z-index: 1; */
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28245, 232, 199, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.nav-link {
font-weight: 300;
color: #F5E8C7 !important;
}

.navbar-collapse {
  text-align: center;
}

.montserrat {
font-family: 'Montserrat', sans-serif;
font-weight: 400;
}

/*-------------- Index.ejs specific --------------*/

section#pricing {
  background-color: #6F4C5B;
  color: #F5E8C7;
}


button.hero-button {
  /* position: relative;
  z-index: 600; */
  color:#F5E8C7;
}


.btn-dark:hover {
  background-color: #0b0c0c;
  color:#F5E8C7;
}

.btn-outline-light {
  border-color: #F5E8C7 !important;
}

.btn-outline-light:hover {
  background-color: #f5e8c741 !important;
}

.trusted {
  opacity: 0.6;
}

.color-wand-outline {
  transition: color .15s ease-in;
}

.earth-outline {
  transition: color 0.15s ease-in;
}

.heart-circle-outline {
  transition: color 0.15s ease-in;
}

.color-wand-outline:hover {
  color: #6F4C5B;
}

.earth-outline:hover {
  color: #6F4C5B;
}

.heart-circle-outline:hover {
  color: #6F4C5B;
}

.carousel-item {
  padding: 2% 25%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236f4c5b'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236f4c5b'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.testimonial-header {
  padding: 6% 8%;
  margin-bottom: 5%;
}

.testimonial-imgs {
  width: auto;
  height: 100px;
  shape-outside: circle(50%);
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.pricing-header {
  padding: 6% 8%;
}

.pricing-cards {
  margin: 3% 1%;
  background-color: #F5E8C7;
  color: #6F4C5B;
  padding: 5% 1%;
  width: 16rem;
}

.price {
  color: #742d4c;
}

.pricing-points {
  font-size: 13px;
}

#navbar {
  background-color: #6F4C5B !important;
}

#hero-image {
  transform: rotate(15deg);
  width: 70%;
}

#trusted {
  /* position: absolute;
  z-index: 1000;
  margin-top: -160px; */
  padding: 7% 12%;
  background-color: #F5E8C7;
  color: #6F4C5B;
}

#trusted h2 {
  font-weight: 600;
}

#features {
  background-color: #9E7777;
  color: #F5E8C7;
}

#features h3 {
  font-weight: 600;
}

#about {
  padding: 7% 12%;
  background-color: #DEBA9D;
  color: #563b46;
}

#testimonials {
  padding: 7% 8%;
  background-color: #F5E8C7;
  color: #563b46;
}

#pricing {
  padding: 7% 2%;
}

/*-------------- Contact.ejs Specific --------------*/
#contact {
  background-color: #6F4C5B;
  padding: 7% 10%;
  color: #F5E8C7;
  text-align: center;
  height: 90vh;
}

.contact-form {
  background-color: #DEBA9D;
  padding: 30px;
  border-radius: 3px;
}

button.contact-button {
  border: none;
  padding: 8px 14px;
  background-color: #4e3540;
  color: #F5E8C7;
  border-radius: 3px;
  transition: background-color 0.2s ease-in;
}

button.contact-button:hover {
  background-color: #9E7777;
}

/*-------------- Footer Partial Specific --------------*/

a#footer-text {
  color: #4e3540;
}

a#footer-text:visited {
  color: #892852;
}

#footer {
  background-color: #9E7777;
  color:#F5E8C7;
  padding: 5px;
  font-size: 14px;
  text-align: center;
}